.table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}
.table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}
.table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}
.table tbody tr {
    border-bottom: 1px solid #d3dae0;
}